body {
    margin: 0;
    padding: 0.8% 2%; 
    background-color: #F8F8FF;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 105%;
    line-height: 1.6;
}

/* Estilização do cabeçalho */
header {
    text-align: center;
    padding: 1% 0;
}

header img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

header h1 {
    display: flex center;
    font-size:x-large;
}

nav ul {
    list-style:none;
    padding: 1%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
    margin-right: 5%;
}

nav a {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section {
    padding: 2% 0;
    text-align: justify;
}

section img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

section a.external-link {
    display: block;
    margin-top: 1%;
    text-align: center;
    color: black;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10% 0;
}

footer a {
    text-decoration: none; 
    color: black; 
}

footer p {
    margin-top: 2%; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

footer a:hover {
    color: grey; 
}

nav a:hover {
    color: grey; 
}

.bradesco {
    color: black;
    text-align: justify;
    padding: 0%;
    margin-top: 2%;
}

.bradesco a.button {
    display: inline-block;
    padding: 3% 5%; 
    width: auto; 
    max-width: 100%; 
    border: none;
    border-radius: 20px; 
    background-color: #E4E0E0; 
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.bradesco a:hover {
    background-color: grey; 
    color: black; 
}
.bradesco h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sebrae {
    color: black;
    text-align: justify;
    padding: 0%;
    margin-top: 2%;
}

.sebrae a.button {
    display: inline-block;
    padding: 3% 5%; 
    width: auto; 
    max-width: 100%; 
    border: none;
    border-radius: 20px; 
    background-color: #E4E0E0; 
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.sebrae a:hover {
    background-color: grey; 
    color: black; 
}
.sebrae h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.unieducar {
    color: black;
    text-align: justify;
    padding: 0%;
    margin-top: 2%;
}

.unieducar a.button {
    display: inline-block;
    padding: 3% 5%; 
    width: auto; 
    max-width: 100%; 
    border: none;
    border-radius: 20px; 
    background-color: #E4E0E0; 
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.unieducar a:hover {
    background-color: grey; 
    color: black; 
}
.unieducar h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.senai {
    color: black;
    text-align: justify;
    padding: 0%;
    margin-top: 2%;
}

.senai a.button {
    display: inline-block;
    padding: 3% 5%; 
    width: auto; 
    max-width: 100%; 
    border: none;
    border-radius: 20px; 
    background-color: #E4E0E0; 
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.senai a:hover {
    background-color: grey; 
    color: black; 
}
.senai h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.enap {
    color: black;
    text-align: justify;
    padding: 0%;
    margin-top: 2%;
}

.enap a.button {
    display: inline-block;
    padding: 3% 5%; 
    width: auto; 
    max-width: 100%; 
    border: none;
    border-radius: 20px; 
    background-color: #E4E0E0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.enap a:hover {
    background-color: grey; 
    color: black; 
}
.enap h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fgv {
    color: black;
    text-align: justify;
    padding: 0%;
    margin-top: 2%;
}

.fgv a.button {
    display: inline-block;
    padding: 3% 5%; 
    width: auto; 
    max-width: 100%; 
    border: none;
    border-radius: 20px; 
    background-color: #E4E0E0; 
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.fgv a:hover {
    background-color: grey; 
    color: black; 
}
.fgv h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nube {
    color: black;
    text-align: justify;
    padding: 0%;
    margin-top: 2%;
}

.nube a.button {
    display: inline-block;
    padding: 3% 5%; 
    width: auto; 
    max-width: 100%; 
    border: none;
    border-radius: 20px; 
    background-color: #E4E0E0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.nube a:hover {
    background-color: grey; 
    color: black; 
}
.nube h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao-contato {
    display: block;
    margin: 0 auto; 
    padding: 1% 1%;
    width: auto;
    border: none;
    border-radius: 20px;
    background-color: #E4E0E0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: max-content; 
}

.botao-contato:hover {
    background-color: grey; 
}

.rodape {
    background-color: #EFE9E4;
    padding: 1% 1%;
    text-align: center;
}

footer p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rodape-conteudo {
    display: flex;
    flex-direction:column-reverse; 
    align-items: center; 
    width: auto; 
    max-width: 100%; 
    margin: 0 auto;
}

/* Estilo do botão rodapé*/
.botao {
    background-color:darkgray; 
    color: black; 
    padding: 1% 3%;
    border: none;
    border-radius: 20px; 
    text-decoration: none;
    font-weight: bold;
    margin-top: 1%; 
}

.botao:hover {
    background-color: grey; 
    color: white; 
}

figure {
    font-size: medium;
}

